body {
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right,#00FFFF, #000000);
    color: #fff;
}

.game-container {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.game-title {
    color: #fff;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 10px; /* Add this line for round border */
    transition: background-color 0.3s; /* Add transition for a smooth hover effect */
}
.cell:hover {
    background-color: #f0f0f0;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.reset-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    border: none;
    margin-top: 10px;
}

/* New screen styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.result-screen {
    background: rgba(0, 255, 255, 0.603); /* Change the background color to aqua */
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff; /* Change text color to white */
    font-family: 'Pacifico'; /* Change font style */
}

.result-screen p {
    font-size: 35px;
    margin-bottom: 55px;
}
